{% extends 'base.html' %}

{% block content %}

    <style>


    </style>
    <script>
        function setval(source, target){
            document.getElementById(target.id).innerHTML = source.value + "%";
        }

    </script>

    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'course-new' %}">Add course name</a>
            |
            <a href="{% url 'professor-new' %}">Add professor</a>
        </div>
    </div>

    <hr>

    <form action="" method="post">

        <div class="row">


            <div class="col-md-3">
                {% csrf_token %}

                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <p>
                                <label for="id_course_name">Course name:</label>
                                <br>
                                {{ form.course_name }}
                            </p>
                            <p>
                                <label for="id_professor_name">Professor name:</label>
                                <br>
                                {{ form.professor_name }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="id_how_easy">How easy:</label>
                            <br>
                            {{ form.how_easy }}
                            <br>
                            <p class="text-center text-primary" id="easyval">
                                {% if review %}
                                    {{ review.how_easy }}%
                                {% else %}
                                    50%
                                {% endif %}
                            </p>
                            <br>
                            <span class="form-text text-muted">0 % - very hard; 100 % - very easy</span>
                            <br>

                            <label for="id_how_interesting">How interesting:</label>
                            <br>
                            {{ form.how_interesting }}
                            <br>
                            <p class="text-center text-primary" id="interestval">
                                {% if review %}
                                    {{ review.how_interesting }}%
                                {% else %}
                                    50%
                                {% endif %}
                            </p>
                            <br>
                            <span class="form-text text-muted">0 % - not interesting; 100 % - very interesting</span>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <p>
                                <label for="id_review_body">Review body:</label>
                                <br>
                                {{ form.review_body }}
                                <br>
                                <button class="btn btn-success ml-2" type="submit">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock %}